body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
#nav, #main-about{
    text-align: center;
}
#main-about{
    width: 400px;
}
.links-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.a-div{
    display: flex;
    justify-content: space-between;
}
.links-main a{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    
}
.links-main a:hover{
    border: 1px solid #FC5431;
    color: #FC5431;
    text-decoration-color: #FC5431;
    background-color: black;
}