@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: "IBM Plex Mono", monospace;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
.main-h2{
    font-weight: 800;
    font-size: 2rem;
}
#nav, #main-about{
    text-align: center;
}
#main-about{
    width: 400px;
}
.links-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.a-div{
    display: flex;
    justify-content: space-between;
}
.links-main a{
    color: white;
    padding: 10px;
    margin: 1rem;
    border: 1px solid transparent;
    
}
.links-main a:hover{
    color: #FC5431;
    text-decoration-color: #FC5431;
    background-color: black;
}